.yuedu-container-visible {
    display: flex;
    flex-direction: column;
    z-index: 2147483647;

    position: absolute;
    top: 10px;
    left: 20px;
    
    width: 326px;
    min-height: 125px;

    border: 1px solid #E18CEE;
    background-color: #F0C7F7;
}

.yuedu-container-hidden {
    display: none;
}

#yuedu-flex-container {
    font-size: 14px;
    font-family: "Source Han Serif SC", "Cica", "あずきフォント";
}

#yuedu-flex-container > .word {
    display: flex;
    height: 20px;
}

#yuedu-flex-container > .word > input {
    flex: 1 0 20px;
}

#yuedu-flex-container > .pronounce {
    display: flex;
    width: 94%;
    margin-top: 5px;
    align-self: center;
}

#yuedu-flex-container > .pronounce > div {
    flex: 1 0 50%;
}

#yuedu-flex-container > .translation {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

#yuedu-flex-container > .translation > div {
    margin-top: 2px;
    display: inline-flex;
}

#yuedu-flex-container > .translation > div > span.PoS {
    min-width: 34px;
    font-size: 0.8em;
    border: 1px solid #9d56de5e;
    border-radius: 2.4px;
    align-self: flex-start;
    position: relative;

}
